@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../../node_modules/swiper/swiper-bundle.min.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


[x-cloak] {
    display: none;
}

.image-radio-container {
    input[type="radio"]:checked + label > img {
        border-color: #F5C93C !important;
    }
}

input:disabled {
    background-color: #eee !important;
}
.placeholder-black::placeholder {
    color: black;
}
.swiper-pagination-bullet-active {
    background-color: #F5C93C !important;
}