@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../../node_modules/swiper/swiper-bundle.min.css';


[x-cloak] {
    display: none;
}

.image-radio-container {
    input[type="radio"]:checked + label > img {
        border-color: #F5C93C !important;
    }
}

input:disabled {
    background-color: #eee !important;
}
.placeholder-black::placeholder {
    color: black;
}

// .swiper {
//     margin-top: -3.5rem;
//     width: 100vw;
//     height: 70vh;
//   }